#container{ 
           width:100%}

#header{
        background-color:#c13434}


#content{
         border-style: solid;
         border-color: #68a2ff;
         height:400px;
         width:78%;
         float:left}

#p{
   font-family:Abril Fatface;
   color:black;
   font-size:18px;"}
