#container{ 
          width:100%}

#header{
        background-color:#c13434}


#content{
         border-style: solid;
         border-color: #68a2ff;
         height:400px;
         width:78%;
         float:left}

#table {
    font-family:Abril Fatface;
    border-collapse: collapse;
    width: 87%;}

#td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

