container{ 
          width:100%}

menu{
     background-color:#ffe3c6;
     
     height:400px;
     width:400px;
     }

maintext{
          font-family:Abril Fatface;
          color:grey;
          font-size:20px;}
